@import "../../styles/style.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Myriad Pro";
  border: none;
  border-radius: 10px;
  padding: 15px 48px;
  font-weight: $fw-semi-bold;
  font-size: $button1-desktop-tablet;
  color: white;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  width: 200px;
  background-color: $blue-main;
}

.circle {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  padding: 0;
  border: $blue-main 2px solid;
  &:hover {
    border: $blue-m-stroke 2px solid;
  }
  &:active {
    background-color: $blue-m-pressed;
  }
  color: white;
  font-size: 25px;
}

.error {
  background-color: $red-main;
  &:active {
    background-color: $red-main-pressed;
  }
}

.disabled {
  background-color: $blue-m-disabled;
  &:active {
    background-color: $blue-m-disabled;
  }
}

.default {
  & span {
    width: 0px;
    transition: all ease-in-out 0.3s;
    transform: translate(0px, 3px);
    opacity: 0;
  }
  &:hover span {
    padding-left: 10px;
    opacity: 1;
  }

  &:active {
    background-color: $blue-m-pressed;
  }
}

.text-right-arrow {
  gap: 10px;
  width: fit-content;
  padding: 0;
  font-size: $button2-desktop-tablet;
  background: none;
  color: $blue-main;
  transition: all ease-in-out 0.3s;
  & span {
    rotate: 270deg;
  }

  &:hover{
    color: $dark-text;
  }
}
