@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 600;
  src: local("Myriad Pro Regular"), url("MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Myriad Pro Light"), url("MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Myriad Pro Semibold"),
    url("MYRIADPRO-SEMIBOLD.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: 900;
  src: local("Myriad Pro Bold"), url("MYRIADPRO-BOLD.woff") format("woff");
}
