$dark-text: #0e133d;
$grey-text: #416194;
$grey-description: #6e92cc;
$yellow-main: #ffbd3c;
$dark-modal-15: #0c103226;
$dark-blacjout-gradient: linear-gradient(
  180deg,
  rgba(12, 16, 50, 0) 0%,
  rgba(12, 16, 50, 0.6) 100%
);
$white-background: #fcfdff;
$white-surface: #ffffff;
$blue-background: #f2f5fa;
$red-m-input: #fff6f9;
$blue-main: #0f68fc;
$blue-m-input-stroke: #dce8fc;
$blue-m-stroke: #629cfc;
$blue-m-pressed: #0444BA;
$blue-m-pressed-stroke: #3172e8;
$blue-m-disabled: #a3c5ff;
$blue-m-10: #0f68fc1a;
$blue-m-5: #0f68fc0d;
$red-main: #ef1630;
$red-main-pressed: #ba0421;
$red-m-input-stroke: #f78391;
$red-m-10: #ef16301a;
$red-m-5: #ef16300d;
