// desktop
$h1-desktop: 72px;
$h2-desktop: 50px;
$text-desktop: 26px;

//desktop-tablet
$h3-desktop-tablet: 29px;
$subtitle-desktop-tablet: 27px;
$button1-desktop-tablet: 24px;
$button2-desktop-tablet: 19px;
$body1-desktop-tablet: 21px;
$body2-desktop-tablet: 19px;
$description-desktop-tablet: 16px;
$copyright-desktop-tablet: 12px;

//tablet
$h1-tablet: 64px;
$h2-tablet: 44px;
$text-tablet: 22px;

//mobile
$h1-mobile: 44px;
$h2-mobile: 36px;
$h3-mobile: 26px;
$subtitle-mobile: 20px;
$text-mobile: 19px;
$button-mobile: 20px;
$body1-mobile: 16px;
$body2-mobile: 14px;
$description-mobile: 12px;
$copyright-mobile: 10px;

