@import "../../../styles/style.scss";

.left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include tablet {
    width: 50%;
  }
  .social_icons {
    display: none;
    @include tablet {
      display: flex;
    }
  }
}

.contacts {
  font-weight: $fw-normal;
  color: $dark-text;
  line-height: 27px;
}

.menu {
  ul {
    font-weight: $fw-semi-bold;
    color: $blue-main;
    gap: 56px;
    padding: 0;
    display: flex;
    list-style: none;
    margin: 8px 0;
    @include mobile-tablet {
      flex-direction: column;
      gap: 16px;
    }
  }
}

.subtitle {
  font-size: $subtitle-desktop-tablet;
  margin: 8px 0;
}

.copyright {
  color: $grey-description;
  font-size: $copyright-desktop-tablet;
  @include mobile {
    font-size: $copyright-mobile;
  }
}
