@import "../../styles/style.scss";

.privacy {
  background-color: $white-background;
  color: $grey-text;
  overflow-x: hidden;
  @include desktop {
    padding-top: 100px;
  }
  @include laptop {
    padding-top: 88px;
  }
  @include tablet {
    padding-top: 94px;
  }
  @include mobile {
    padding-top: 48px;
  }
}

.background {
  @include mobile-tablet {
    display: none;
  }
}

.ellipse {
  position: fixed;
  transform: translate(60%, 40%);
  width: 900px;
  height: 900px;
}


